{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {#{{ form_widget(form) }}#}
        <h1>{{ data.name }}</h1>
        <ul class="questions">
            {% for answer in data.answers  %}
                <li>{{ answer.getQuestion }}</li>
            {% endfor %}
        </ul>
        <ul class="questions">
        {% for answer in form.answers %}
            <li>
                {{ form_row(answer) }}
            </li>
        {% endfor %}
        </ul>
        <button class="btn btn-primary" type="submit">Save</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

